@import './base.css';

/* style chess board */
* {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.chess {
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chess td {
  width: 10vh;
  height: 10vh;
}

.evenRow .evenTile {
  background-color: #769656;
}

.evenRow .oddTile {
  background-color: #EEEED2;
}

.oddRow .evenTile {
  background-color: #EEEED2;
}

.oddRow .oddTile {
  background-color: #769656;
}

.move {
  background-color: #FF0000;
}

.piece img {
  width: 100%;
  height: 95%;
  /* align center */
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


